<%= render 'shared/page_title', title: "All Recipes" %>
<% @recipeboxes.each do |recipebox| %>
<div class="row">
  <div class="col-md-2">
    <section class="chef_info center">
      <%= gravatar_for recipebox.user, size: 100 %>
      <h5>User name: <%= recipebox.user.username %></h5>

    </section>
  </div>

  <div class="col-lg-8 well">
    <h4><%= link_to recipebox.name, recipebox_path(recipebox) %></h4>
    <p><%= recipebox.summary %></p>
    <p>
      <span class='quiet'><small><%= time_ago_in_words(recipebox.created_at) %> ago</small></span>
    </p>
</div>

</div>
<% end %>
