<%= render 'shared/page_title', title: "All Recipes" %>

<%= will_paginate %>
<% @recipeboxes.each do |recipebox| %>
<div class="row">
  <div class="col-md-2">
    <section class="chef_info center">
      <%= gravatar_for recipebox.user, size: 100 %>
      <h5>User name: <%= recipebox.user.username %></h5>

    </section>
  </div>

  <div class="col-lg-6 well">
    <h4><%= link_to recipebox.name, recipebox_path(recipebox) %></h4>
    <p><%= recipebox.summary %></p>
    <p>
      <span class='quiet'><small> created: <%= time_ago_in_words(recipebox.created_at) %> ago, </small></span>
      <span class='quiet'><small> updated: <%= time_ago_in_words(recipebox.updated_at) %> ago</small></span>
    </p>
    <div class="pull-right">
      <%= link_to like_recipebox_path(recipebox, like: true), method: :post do %>
      <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= recipebox.thumbs_up_total  %>
      <% end %> &nbsp&nbsp&nbsp
      <%= link_to like_recipebox_path(recipebox, like: false), method: :post do %>
      <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= recipebox.thumbs_down_total  %>
      <% end %>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
  <hr/>
  <% end %>
<%= will_paginate %>
